/*body {*/
/*    !*height: 125vh;*!*/
/*    background-image: url('donatebg.jpg');*/
/*    background-size: 100%;*/
/*    margin-top: 40px;*/
/*}*/
header {
    background-color: white;
    position: fixed;
    display: flex;
    height: 10%;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 10px 0 gold;
}
.navbar
{
    margin-left: 30%;
    overflow: hidden;
}
/* Links inside the navbar */
.navbar li {
    float: left;
    display: inline-block;
    /*color: #f2f2f2;*/
    text-align: center;
    margin-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    text-decoration: none;
    text-underline: none;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #FFFFFF;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.navbar li a{
    color: black;
    text-decoration: none;
    text-underline: none;

}
.navbar .Changable {
    padding-left: 80px;
    padding-bottom: 10px;
    margin-top: 10px;
    color: black;
    text-decoration: none;
    text-underline: none;

}
/* Change background on mouse-over */
.navbar a:hover {
    background: #d4af39;
    padding: 10%;
    /*color: black;*/
}